increasing ; < ; 0 ; 0
increasing_sequence ; <(<|=)*<|< ; 0 ; 0
increasing_terrace ; <=+< ; 1 ; 1
summit ; (<|(<(=|<)*<))(>|(>(=|>)*>)) ; 1 ; 1
plateau; <=*> ; 1 ; 1
proper_plateau ; <=+> ; 1 ; 1
strictly_increasing_sequence ; <+ ; 0 ; 0
peak ; <(=|<)*(>|=)*> ; 1 ; 1
inflexion ; <(<|=)*>|>(>|=)*< ; 1 ; 1
steady ; = ; 0 ; 0
steady_sequence ; =+ ; 0 ; 0
zigzag ; (<>)+(<|<>)|(><)+(>|><) ; 1 ; 1